
:root {
  --test: 1px dotted blue;
  --black: rgb(88, 75, 135);
  --shade: rgba(55, 40, 107, 0.655);
  --white: rgb(208, 198, 251);
  --mainFont: Arial, Helvetica, sans-serif;
}
.App {
  text-align: center;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
}
.header {
  color: var(--white);
  font-family: var(--mainFont);
  margin: .5em;
  text-decoration: none;
}
a {
  text-decoration: none;
}
.navLink {
  color: var(--white);
  font-family: var(--mainFont);
  margin: .5em;
}
.navLink:hover {
  text-decoration: underline;
}
.page {
  margin: .5em auto;
  width: 90%;
  height: 100%;
  border-radius: 3px;
  background-color: var(--white);
  color: var(--black);
  font-family: var(--mainFont);
  text-align: center;
  padding:1em;
  display: flex;
  flex-direction: column;
}

/* PROJECT */
.projectPage {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.projLink {
  color: var(--black);
  font-weight: bold;
}
.projLink:hover {
  text-decoration: underline;
}
.projBlurb {
  margin: 0 0 1em 0;
}

/* ABOUT */
.aboutPage ul {
  columns: 3;
  list-style: none;
}
h3, ul {
  margin: .5em;
}

/* CONTACT */
.contactLink {
  color: var(--black);
  font-family: var(--mainFont);
  font-size: 1.5em;
}
.contactLink:hover {
  text-decoration: underline;
}
#contactDetails {
  display: flex;
  flex-direction: column;
}


@media only screen and (min-width: 560px) {

.page {
  max-width: 50em;
}
.aboutPage, .projectPage {
  margin: auto;
  /* width: 8
  300%; */
}
  
}