:root {
  --test: 1px dotted blue;
  --black: rgb(47, 46, 51);
  --white: rgb(223, 223, 223);
}
body {
  background-color: var(--black);
  color: var(--white); 
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
.navBarBox {
  width: 100%;
  position: absolute;
  top: 1%;
}
.navBarList {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: start;
  list-style: none;
  position: relative;
}
.navBarList li {
  margin: 0 .25em;
}
.dropbtn {
  border: none;
}
.dropdownCon {
  position: relative;
  display: inline-block;
}
.dropContent {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: rgb(47, 46, 51);
  box-shadow: 0 0 10px 3px rgba(49, 49, 49, 0.767);
}
.dropContent div:hover {
  background-color: rgb(223, 223, 223);
}
.dropdownCon:hover .dropContent {
  display: block;
}
.pageTitle {
  margin-bottom: .25em;
  text-align: center;
}
#page {
  margin: auto;
  width: min(55%, 675px);
  min-width: 19.5em;
  border-radius: .3em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--white);
  color: var(--black)
}
.home {
  margin: 1em;
  font-size: 1.5em;
  text-align: center;
}
.proj {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.abt {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contact {
  text-align: center;
  padding: .5em;
}
.contact * {
  margin: .25em;
}
.skillsImg { 
  height: 7em;
  width: auto;
  margin: 1em;
}
.projectCard {
  color:rgb(56, 56, 56);
  margin: 1em;  
  width: 18.65em;
  height: 18.65em;
  min-width: 18.65em;
  min-height: 18.65em;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 0 10px gray;
}
.projectCard:hover {
  transform: scale(1.05)
}
.cardTop {
  height: 60%;
  overflow: hidden;
}
.cardBottom {
  height: 40%;
  background-color:rgb(189, 189, 189);
  box-shadow: 0 0 10px 1px rgba(79, 79, 79, 0.543);
  color: var(--black);
  font-weight: bold;
  padding: 1%;
} 
.cardBottom p  {
  font-weight:normal;
}